.popup-card {
  border: 1px solid #a8a8a8;
  width: 200px;
  height: auto;
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;

  button {
    padding: 6px 8px;
    background-color: none;
    border: 2px solid #0073b1;
    border-radius: 12px;
    cursor: pointer;
  }
  div {
    h4 {
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
