.modal-input {
  width: 100%;
  border: none;
  background-color: white;
  outline: none;
  font-size: 16px;
  font-family: system-ui;
}
@keyframes pulse {
  0%, 100% {
    background-color: #e5e7eb; /* Set your background color */
  }
  50% {
    background-color: #f3f4f6; /* Set a slightly lighter color */
  }
}

.skeleton-wrapper {
  box-sizing: border-box;
  animation: pulse 1.5s infinite;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 20px;
}

.img-wrapper{
  overflow: hidden;
  height: 250px;
  width: 100%;
  position: relative;
  .onclose-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    padding: 4px;
    border-radius: 100%;
    background-color: rgba(255, 33, 33, 0.829);
    position: absolute;
    right: 4px;
    top: 4px;
    color: white;
  }
  .onclose-img:hover{
    background-color: rgb(255, 33, 33);
    cursor: pointer;
  }
  img{
    object-fit: cover;
  }
  .filename{
    display: inline;
    color: rgb(146, 146, 146);
    font-size: 12px;
  }
}

