.profile-card {
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  font-family: system-ui;
  color: rgba(0, 0, 0, 0.9);
  position: relative;
  .profile-info {
    display: flex;
    justify-content: space-between;
    .wrapper-profile-image {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      border: WHITE solid 10px;
      overflow: hidden;
      .profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .username {
      font-weight: 600;
      font-size: 24px;
      margin-top: -10px;
    }
    .headline {
      font-size: 16px;
      margin-top: -25px;
      font-weight: 400;
      width: 350px;
      line-height: 28px;
    }
    .location {
      font-size: 14px;
      color: #8d8d8d;
      margin-top: -14px;
    }
    .website {
      color: #0073b1;
      cursor: pointer;
    }
    .website:hover {
      text-decoration: underline;
    }
    .right-info {
      margin-top: 30px;
      margin-right: 30px;
      p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
        margin-top: 0px;
      }
    }
  }
  .edit-btn {
    position: absolute;
    right: 20px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about {
  margin-bottom: 0px;
}

.p-about {
  margin-top: 8px;
}

.post-status-main {
  display: flex;
  justify-content: center;
  div {
    width: 80%;
  }
}
