.wrapper-search {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 1px gray;
  border-radius: 8px;
  justify-content: space-between;
  padding: 4px 8px;

  .input-search {
    border: none;
    outline: none;
    width: 80%;
  }
  .cancel-btn:hover {
    color: black;
    cursor: pointer;
  }
}
